/* variables */
$total_colunas: 24;
$telas: '','-sm','-md','-lg','-xl';
$alinhamento_V: 'top','middle','bottom';
$alinhamento_H: 'start','center','end','between', 'around';

/* Functions */
@function gerar_coluna($n_coluna){

    @return percentage($n_coluna/$total_colunas);
}

@function return_row($linha){
    @if $linha == 'start'{
        @return flex-start;
    } @else if $linha == 'center'{
        @return center;
    } @else if $linha == 'end'{
        @return flex-end;
    } @else if $linha == 'top'{
        @return flex-start;
    } @else if $linha == 'middle'{
        @return center;
    } @else if $linha == 'bottom'{
        @return flex-end;
    } @else if $linha == 'between'{
        @return space-between;
    } @else if $linha == 'around'{
        @return space-around;
    }
}

/*---------------------*/

.container-fluid{
    margin: 0 2rem;

    .row{
        display: flex;
    }

    .column{
        display: flex;
        flex-direction: column;
    }
}

/* Telas */

@each $var in $telas {
    /*Tela#{$var}*/
    
    @if $var == ''{
        @for $i from 1 through $total_colunas{
            .col#{$var}-#{$i}{
                width: gerar_coluna($i);
            }
        }

        @each $i in $alinhamento_V {
            .#{$i}#{$var}{
                align-items: return_row($i);
            }
        }

        @each $i in $alinhamento_H {
            .#{$i}#{$var}{
                justify-content: return_row($i);
            }
        }
    }
    
    @if $var == '-sm' {
        @media(max-width: 640px){
            @for $i from 1 through $total_colunas{
                .col#{$var}-#{$i}{
                    width: gerar_coluna($i);
                }
            }

            @each $i in $alinhamento_V {
                .#{$i}#{$var}{
                    align-items: return_row($i);
                }
            }
    
            @each $i in $alinhamento_H {
                .#{$i}#{$var}{
                    justify-content: return_row($i);
                }
            }
        }
    }
    
    @if $var == '-md'{
        @media (min-width: 641px) and (max-width: 1007px){
            @for $i from 1 through $total_colunas{
                .col#{$var}-#{$i}{
                    width: gerar_coluna($i);
                }
            }

            @each $i in $alinhamento_V {
                .#{$i}#{$var}{
                    align-items: return_row($i);
                }
            }
    
            @each $i in $alinhamento_H {
                .#{$i}#{$var}{
                    justify-content: return_row($i);
                }
            }
        }    
    
    }
    
    @if $var == '-lg'{
        @media (min-width: 1008px){
            @for $i from 1 through $total_colunas{
                .col#{$var}-#{$i}{
                    width: gerar_coluna($i);
                }
            }

            .container-fluid{
                margin: 0 3rem;
            }

            @each $i in $alinhamento_V {
                .#{$i}#{$var}{
                    align-items: return_row($i);
                }
            }
    
            @each $i in $alinhamento_H {
                .#{$i}#{$var}{
                    justify-content: return_row($i);
                }
            }

        }
    }
    /*---------------------*/
}